// Global Variables

// Fonts
$body-regular: normal 400 16px/24px "SF Pro Text Regular";
$body-bold: normal 600 16px/24px "SF Pro Text Regular";

// Colors
$base-color: #307FE2;
$border-gray: rgba(153, 153, 153, 0.5);
$base-color-dim-shadow: 0 0 1px 4px rgba(153, 153, 153, 0.5);
$base-color-shadow: 0 0 1px 4px hsla(213, 75%, 54%, 0.6);