@import '../../variables';

.eb-btn {

    &.dark {

        &.dim {
            color: #ffffff;

            &:disabled {
                color: rgba(153, 153, 153, 0.5);
            }

        }

        &.ghost {
            color: #ffffff;
            border-color: #707070;

            &:hover {
                border-color: rgba(153, 153, 153, 0.5);
            }
            
            &:disabled {
                border-color: #4d4d4d;
                color: #4D4D4D;
            }

        }

    }

}